:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #fe5430;

    --header-height: 120px;
    --navbar-height: 48px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10     {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3333%;
}

/* CSS Modal overlay */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal___body {
    background-color: var(--white-color);
    margin: auto;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}

/* authentication form register */
.auth__form {
    width: 500px;
}
.auth__form-container {
    padding: 0 30px;
}
.auth__form-header {
    display: flex;
    justify-content: space-between;
}
.auth__form-heading,
.auth__form-switch-btn {
    margin-top: 12px;
    font-size: 1.6rem;
}

.auth__form-switch-btn {
    display: block;
    color: var(--primary-color);
}

.auth__form-form {
    margin-top: 15px;
}

.auth__form-input {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-top: 10px;
    font-size: 1.3rem;
}
.auth__form-input:focus {
    outline: none;
}

.auth__form-aside {
    margin-top: 20px;
}

.auth__form-policy-text {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.policy {
    color: var(--primary-color);
}
.auth__controls {
    width: 100%;
    margin-top: 100px;
    display: flex;
    margin-right: 0px;
    justify-content: flex-end;
}

.btn {
    width: 100px;
    height: 30px;
    font-weight: 500;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    background-color: transparent;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.3rem;
}

.auth__socials {
    display: flex;
    height: 40px;
    background-color: #a09999;
    margin-top: 20px;
    align-items: center;
}

.btn-with-icon {
    color: var(--white-color);
    font-size: 1.3rem;
    height: 30px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}
.btn-facebook {
    margin-left: 30px;
    background-color: rgb(6, 16, 160);
    flex-basis: 50%;
}

.btn-google {
    margin-right: 30px;
    background-color: #ce6c6c;
    margin-left: 10px;
    flex-basis: 50%;
}