.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6232, #f6402e);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #fa8e82;
    height: 14px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-item-title {
    cursor: text;
    color: var(--white-color);
}


/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 120%;
    left: 0;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    display: block;
    left: 0;
    top: -15px;
    height: 20px;
    display: block;
}

.header__qr-img {
    width: 100%;
}

.deader__app {
    display: flex;
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2    ) {
    margin-left: 11px;
}

.header__app-download {
    height: 15px;
}

/* tooltip notification */

.notification:hover .header__notify{
    display: block;
}

.header__notify {
    width: 400px;
    background-color: var(--white-color);
    top: 118%;
    right: 0;
    position: absolute;
    border: 1px solid #D3D3D3;
    animation: fadeIn ease-in 0.5s;
    transform-origin: top right;
    will-change: opacity;
    display: none;
}

.header__notify::before {
    position: absolute;
    content: "";
    right: 12px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__notify::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 18px;
    top: -18px;
    right: 32px;
    background-color: transparent;
}

.header__notify-header {
    height: 40px;
    cursor: default;
}
.header__notify-header h3 {
    color: #999;
    line-height: 40px;
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 1.4rem;
    margin-left: 12px;
    user-select: none;
}
.header__notify-list {
    padding: 0;
}

.header__notify-item {
    display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.viewed {
    background-color: rgba(254, 84, 48, 0.2);
}
.header__notify-link {
    width: 100%;
    display: flex;
    padding: 12px;
    text-decoration: none;
}
.header__notify-img {
    width: 48px;
    object-fit: cover;
}
.header__notify-info {
    margin-left: 10px;
}
.header__notify-name {
    font-size: 1.5rem;
    color: var(--black-color);
}
.header__notify-description {
    display: block;
    font-size: 1.3rem;
    color: #756f6e;
    display: block;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    padding: 10px 16px;
    width: 100%;
    text-align: center;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
